.footer {
  &__attribution {
    color: $color-primary-desaturated-red;
    font-size: $font-size-14;
    margin-top: auto;
    padding-bottom: 1rem;
    text-align: center;
  }

  &__link {
    color: $color-primary-soft-red;
    font-weight: 600;
  }
}
