.coming-soon {
  &__header {
    @include flex-column($space-32);

    @include respond-to($breakpoint-desktop) {
      grid-column: 2 / 3;
      position: relative;
    }
  }

  &__logo {
    display: block;
    object-fit: cover;
    width: 6.25rem;

    @include respond-to($breakpoint-desktop) {
      position: absolute;
    }
  }

  &__hero {
    width: 100vw; /* Full viewport width */
    margin-left: calc(-50vw + 50%); /* Center the image */

    @include respond-to($breakpoint-desktop) {
      width: auto;
      margin-left: 0;
    }
  }

  &__hero-img {
    width: 100%;
    height: auto;
    display: block;
  }
}
