.coming-soon {
  &__header {
    @include flex-column($space-32);

    @include respond-to($breakpoint-small-desktop) {
      display: block;
    }
  }

  &__hero {
    display: block;
    margin: 0;
    width: 100%;

    @include respond-to($breakpoint-small-desktop) {
      margin: 0;
      // width: 50%;
    }
  }

  &__hero-img {
    display: block;
    width: 100%;
  }
}
