.coming-soon {
  &__header {
    @include flex-column($space-32);

    @include respond-to($breakpoint-desktop) {
      display: block;
    }
  }

  &__hero {
    width: 100%;
    height: auto;
    margin: 0;
    @include respond-to($breakpoint-desktop) {
      width: 50%;
      height: auto;
      margin: 0;
    }
  }

  &__hero-img {
    width: 100%;
    height: auto;
    display: block;
  }
}
