.coming-soon {
  &__logo {
    display: block;
    margin-left: $space-32;
    object-fit: cover;
    width: 6.25rem;

    @include respond-to($breakpoint-desktop) {
      left: $space-164;
      margin: 0;
      position: absolute;
      top: $space-64;
      width: 9.875rem;
    }
  }

  &__wrapper {
    @include flex-column($space-64);
    padding-top: $space-32;

    @include respond-to($breakpoint-desktop) {
      align-items: center;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      gap: 0;
      max-width: 90rem;
      padding-top: 0;
    }
  }

  &__content {
    @include flex-column($space-32);
    padding: 0 $space-32;

    @include respond-to($breakpoint-desktop) {
      justify-content: center;
      grid-column: 1 / 2;
      grid-row: 1 /1;
      height: 100%;
      // max-width: 27.875rem;
      padding: 0 220px 0 $space-164;
    }
  }

  &__content--bg {
    background-image: url("../assets/images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
  }

  &__text {
    @include flex-column($space-16);

    @include respond-to($breakpoint-desktop) {
      align-items: center;
    }
  }

  &__title {
    color: $color-neutral-dark-grayish-red;
    font-size: $font-size-40;
    font-weight: $font-weight-semibold;
    letter-spacing: $letter-spacing--10;
    line-height: $line-height-105;
    text-align: center;
    text-transform: uppercase;

    @include respond-to($breakpoint-desktop) {
      font-size: $font-size-62;
      grid-column: 1 / 2;
      grid-row: 1 /1;
      letter-spacing: $letter-spacing--19;
      line-height: $line-height-112;
      text-align: left;
    }
  }

  &__title-highlight {
    color: $color-primary-desaturated-red;
    font-weight: $font-weight-light;
  }

  &__description {
    color: $color-primary-desaturated-red-50;
    font-size: $font-size-14;
    font-weight: $font-weight-semibold;
    line-height: $line-height-155;
    text-align: center;

    @include respond-to($breakpoint-desktop) {
      text-align: left;
    }
  }
}

@import "../components/form";
