.email-form {
  &__group {
    display: flex;
    justify-content: space-between;
    position: relative;

    @include respond-to($breakpoint-desktop) {
      flex-direction: row;
    }
  }

  &__input {
    border: 2px solid $color-primary-desaturated-red-30;
    border-radius: 8rem;
    color: $color-neutral-dark-grayish-red;
    font-size: $font-size-16;
    font-weight: $font-weight-semibold;
    height: 3rem;
    letter-spacing: $letter-spacing--0_1;
    line-height: $line-height-100;
    padding-inline: $space-24;
    width: 100%;

    &::placeholder {
      color: $color-primary-desaturated-red-50;
      font-size: $font-size-14;
    }

    &.invalid {
      border: 2px solid red;
    }

    &.invalid + #error-icon {
      display: block;
    }

    @include respond-to($breakpoint-desktop) {
      height: 3.5rem;
    }
  }

  &__error-icon {
    position: absolute;
    top: calc(50% - 0.75rem);
    right: 7rem;
    display: none; /* Ukryj domyślnie */
    width: 1.5rem;
    height: 1.5rem;
  }

  &__error-message {
    color: red;
    font-size: 0.8rem;
    display: none; /* Ukryj domyślnie */
    margin-top: 0.75rem;
    padding-left: 1.5rem;
  }

  &__button {
    align-items: center;
    background: $gradient;
    border-radius: 8rem;
    box-shadow: 0 12px 12px $color-primary-desaturated-red-30;
    display: flex;
    font-size: $font-size-16;
    font-weight: $font-weight-semibold;
    height: 3rem;
    justify-content: center;
    position: absolute;
    right: 0;
    width: 4rem;

    @include respond-to($breakpoint-desktop) {
      width: 6.25rem;
      height: 100%;
    }
  }

  &__button-icon {
    height: 20px;
    width: 12px;
  }
}
