html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  align-items: center;
  @include flex-column();
  font-family: $font-name;
  min-height: 100dvh;
  line-height: 1;
  overflow: hidden;
}

.coming-soon {
  @include flex-column(0);
  flex: 1 1 auto;
  min-height: 100%;
  padding-top: $space-32;
  position: relative;

  @include respond-to($breakpoint-desktop) {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 0;
    max-width: 90rem;
    padding-top: 0;
    padding-left: $space-64;
  }
}
