html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  align-items: center;
  @include flex-column();
  font-family: $font-name;
  min-height: 100dvh;
  line-height: 1;
  overflow: hidden;
}

.coming-soon {
  @include flex-column(0);
  flex: 1 1 auto;
  min-height: 100%;
  padding-top: $space-32;
  position: relative;

  @include respond-to($breakpoint-desktop) {
    align-items: center;
    flex-direction: row;
    padding-top: 0;
  }
}

// Helper class to visually hide elements while keeping them accessible to screen readers
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}
