// Colors
$color-primary-desaturated-red: hsl(0, 36%, 70%);
$color-primary-desaturated-red-50: hsla(0, 36%, 70%, 0.5);
$color-primary-desaturated-red-30: hsla(0, 36%, 70%, 0.3);
$color-primary-soft-red: hsl(0, 93%, 68%);

// Neutral Colors
$color-neutral-dark-grayish-red: hsl(0, 6%, 24%);
$white: hsl(0, 0%, 100%);

// Gradients
$gradient: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));

// Typography
$font-name: "Josefin Sans", sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 600;

$font-size-62: 3.875rem;
$font-size-40: 2.5rem;
$font-size-16: 1rem;
$font-size-14: 0.875rem;

$line-height-175: 1.75;
$line-height-155: 1.55;
$line-height-112: 1.12;
$line-height-105: 1.05;
$line-height-100: 1;

$letter-spacing--19: 19px;
$letter-spacing--10: 10px;
$letter-spacing--0_1: -0.1px;

// SPACING
$space-164: 10.25rem;
$space-132: 8.25rem;
$space-64: 4rem;
$space-40: 2.5rem;
$space-32: 2rem;
$space-24: 1.5rem;
$space-20: 1.25rem;
$space-16: 1rem;

// Breakpoints
$breakpoint-small-desktop: 768px;
$breakpoint-desktop: 1200px;

// Container max-widths
$container-max-width: 1440px;
